__pycache__
functions/__pycache__
testear.py
codigo_no_util.py
imagenes
venv
notas_partituras
porcentajes.obj
Porcentajes.ipynb
figuras.obj
Figuras.ipynb
.ipynb_checkpoints
notas_pruebas.txt
tkinter_pruebas.py
app/ajustes/ajustes.obj